%head
  %link{:href => "/your-path-to-fontawesome/css/all.css", :rel => "stylesheet"}/
  / load all styles
%body
  %i.fas.fa-user
  / uses solid style
  %i.far.fa-user
  / uses regular style
  %i.fal.fa-user
  / uses light style
  / brand icon
  %i.fab.fa-github-square
  / uses brands style


.flash-box
  グループを作成しました


.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        Test-user
      .side-header__box__menu
        .side-header__box__menu__new-group
        = link_to '/groups/new', class: "side-header__box__menu__new-group" do
          %i.fa.fa-edit
        .side-header__box__menu__edit-user
        = link_to '/users/1028/edit', class: "side-header__box__menu__edit-user" do
          %i.fa.fa-cog
  .groups
    .group
      .group__group-name
        group-name
      .group__latest-message
        さようなら

.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        test-group
      .main-header__left-box__member-list
        Member: kaede
    .main-header__edit-btn
      Edit
  .messages
    .message
      .message__upper-info
        .message__upper-info__talker
          kaede
        .message__upper-info__date
          2019/10/05(Sat) 13:22:52
      .message__text
        こんにちは
  .form
    .new-message
      %form.input-box
        %input.input-box__text{:name => "text", :placeholder => "type a message", :type => "text"}
        .input-box__image
        %label.input-box__image{:for => "message_image"}
          %i.fa.fa-image
          %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}
      %input.submit-btn{:type => "submit", :value => "Send"}
